body {
    margin: 60px auto;
    width: 70%;
    color: yellow;
    background-color: white;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
        background-color: deepskyblue;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
        background-color: deepskyblue;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
        background-color: deepskyblue;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.inline-block {
   display: inline-block;
}

